<div class="row">
  <div class="columns">
    <h2>Answer question</h2>
  </div>
</div>

<hr class="section-spacer">

<div class="row">
  <div class="columns">

  <%= render 'answer_form' %>

  </div>
</div>

<hr class="section-spacer">

<div class="row">
  <div class="columns">

  <%= link_to 'Show', @question, class: 'button medium' %>
  <%= link_to 'Back', questions_path, class: 'button medium' %>
  </div>
</div>
